* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}
.heading {
  padding: 20px;
  text-align: left;
  color: gray;
}
main {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  margin: 0 auto;
  width: 840px;
  background-position: center;
}
.blog-box {
  display: flex;
  justify-content: start;
}
.blog-heading {
  border-bottom: 1px solid #f7f7f767; /* 線を引くコマンド */
  text-align: left;
}
.blog-text {
  text-align: left;
  color: gray;
  font-size: 18px;
}
a {
  text-align: left;
  color: gray;
}
