* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin: 50px auto;
  /*全体の上下に50pxの余白maeginは外側paddingは内側*/
  width: 960px;
}
.item-list{
  margin-bottom: 50px;
  /* リスト7の下の50pxの余白 */
}
.item{
  padding: 20px;
  /*リストの文字の四方に20pxの余白*/
  list-style: none;
}
.item:nth-child(odd){
  background-color: #eee;
}
.main-box{
  display: flex;
  flex-wrap: wrap;
  /*折り返すflexboxを作る*/
}
.box {
  height: 200px;
  width: 30%;
  background-color: yellow;
  margin-right: 5%;
  margin-bottom: 40px;
  /* カラフル四角の間の白い余白の設定 */
}
.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: orange;
}
.box:nth-child(3n){
  margin-right: 0;
  /* 右側は余白なし */
}
.box:nth-last-child(-n+3){
  /*lastchildの-n+3は最後から３つ分を表す*/
  margin-bottom: 0;
}