* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.orange {
  height: 50px;
  background-color: #ff9a4b;
}
main {
  width: 960px;
  margin: 50px 0;
  display: flex;
  /*外枠の余白50pxとflex-boxの準備*/
}
.blog-box {
  width: 300px;
  margin-right: 30px;  /*灰色の右側を30px空ける*/
  padding: 10px;  /*灰色の内側の10pxを空ける*/
  background-color: #EEEEEE;
  position: relative;  /*灰色の箱は相対で動く関係*/
  /*ここで高さの設定をする必要はない(勝手に伸ばされる)
  　のでここでは余白と位置の設定をする*/
}
.blog-box:last-child{
  margin-right: 0;
  /*３つ目の灰色の余白はなし*/
}
.step {
  position: absolute; /*絶対値*/
  left: 0;
  top: 0;
  background-color: #ff9a4b;
  color: white;
  padding: 3px;　/*これ抜けてた*/
  /*上のオレンジのstep枠*/
}
.blog-image1 {
  background-image: url(img/flow01.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}
.blog-image2 {
  background-image: url(img/flow02.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
  /*画像中央揃え*/
}
.blog-image3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}
.title {
  margin: 15px 0 5px;
}
footer {
  height: 50px;
  background-color: #aaa;
}
